<%= content_for :page_style do %>
  <%= stylesheet_link_tag :user_profile, media: "all" %>
<% end %>

<%= render 'shared/admin/header' %>

<!-- BEGIN CONTAINER -->
<div class="page-container">
  <%= render 'shared/admin/sidebar' %>

  <!-- BEGIN CONTENT -->
  <div class="page-content-wrapper">
    <div class="page-content">
      <!-- BEGIN PAGE CONTENT-->
      <div class="row">
        <div class="col-md-12">
          <%= render 'shared/admin/profile_sidebar' %>
          <%= render 'shared/admin/profile_settings' %>
        </div>
      </div>
      <!-- END PAGE CONTENT-->
    </div>
  </div>
</div>
<!-- END CONTAINER -->
