<section class="wrap-in-work gallery" id="gallery">
  <div class="top-block-icon">
    <i class="icon-camera"></i>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <header class="section-header no-margin wow fadeInUp" data-wow-duration="2s">
          <h2>Work in Progress</h2>
          <p class="large">Sed condimentum ante ac quam varius pretium. Nunc ornare laoreet augue et elementum. Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et.</p>
        </header>
      </div>
    </div>
<!--row-->
  </div>
<!--container-->
  <div class="gallery-items wow fadeInUp" data-wow-duration="2s" id="gallery-items">
    <figure class="gallery-item office">
      <%= image_tag 'gallery/01.png', alt: 'gallery' %>
      <figcaption>
        <%= link_to(image_url('gallery/01.png'), class: 'fancybox') do %>
          <span aria-hidden="true" class="icon-plus"></span>
        <% end %>
        <a href="#fakelink">
          <span aria-hidden="true" class="icon-info"></span>
        </a>
      </figcaption>
    </figure>
    <figure class="gallery-item workplace">
      <%= image_tag 'gallery/02.png', alt: 'gallery' %>
      <figcaption>
        <%= link_to(image_url('gallery/02.png'), class: 'fancybox') do %>
          <span aria-hidden="true" class="icon-plus"></span>
        <% end %>
        <a href="#fakelink">
          <span aria-hidden="true" class="icon-info"></span>
        </a>
      </figcaption>
    </figure>
    <figure class="gallery-item team">
      <%= image_tag 'gallery/03.png', alt: 'gallery' %>
      <figcaption>
        <%= link_to(image_url('gallery/03.png'), class: 'fancybox') do %>
          <span aria-hidden="true" class="icon-plus"></span>
        <% end %>
        <a href="#fakelink">
          <span aria-hidden="true" class="icon-info"></span>
        </a>
      </figcaption>
    </figure>
    <figure class="gallery-item workplace">
      <%= image_tag 'gallery/04.png', alt: 'gallery' %>
      <figcaption>
        <%= link_to(image_url('gallery/04.png'), class: 'fancybox') do %>
          <span aria-hidden="true" class="icon-plus"></span>
        <% end %>
        <a href="#fakelink">
          <span aria-hidden="true" class="icon-info"></span>
        </a>
      </figcaption>
    </figure>
    <figure class="gallery-item wide office double">
      <%= image_tag 'gallery/05.png', alt: 'gallery' %>
      <figcaption>
        <%= link_to(image_url('gallery/05.png'), class: 'fancybox') do %>
          <span aria-hidden="true" class="icon-plus"></span>
        <% end %>
        <a href="#fakelink">
          <span aria-hidden="true" class="icon-info"></span>
        </a>
      </figcaption>
    </figure>
    <figure class="gallery-item wide team double">
      <%= image_tag 'gallery/06.png', alt: 'gallery' %>
      <figcaption>
        <%= link_to(image_url('gallery/06.png'), class: 'fancybox') do %>
          <span aria-hidden="true" class="icon-plus"></span>
        <% end %>
        <a href="#fakelink">
          <span aria-hidden="true" class="icon-info"></span>
        </a>
      </figcaption>
    </figure>
    <figure class="gallery-item workplace office">
      <%= image_tag 'gallery/07.png', alt: 'gallery' %>
      <figcaption>
        <%= link_to(image_url('gallery/07.png'), class: 'fancybox') do %>
          <span aria-hidden="true" class="icon-plus"></span>
        <% end %>
        <a href="#fakelink">
          <span aria-hidden="true" class="icon-info"></span>
        </a>
      </figcaption>
    </figure>
    <figure class="gallery-item workplace">
      <%= image_tag 'gallery/08.png', alt: 'gallery' %>
      <figcaption>
        <%= link_to(image_url('gallery/08.png'), class: 'fancybox') do %>
          <span aria-hidden="true" class="icon-plus"></span>
        <% end %>
        <a href="#fakelink">
          <span aria-hidden="true" class="icon-info"></span>
        </a>
      </figcaption>
    </figure>
    <figure class="gallery-item wide workplace office double">
      <%= image_tag 'gallery/09.png', alt: 'gallery' %>
      <figcaption>
        <%= link_to(image_url('gallery/09.png'), class: 'fancybox') do %>
          <span aria-hidden="true" class="icon-plus"></span>
        <% end %>
        <a href="#fakelink">
          <span aria-hidden="true" class="icon-info"></span>
        </a>
      </figcaption>
    </figure>
    <figure class="gallery-item workplace">
      <%= image_tag 'gallery/09.png', alt: 'gallery' %>
      <figcaption>
        <%= link_to(image_url('gallery/09.png'), class: 'fancybox') do %>
          <span aria-hidden="true" class="icon-plus"></span>
        <% end %>
        <a href="#fakelink">
          <span aria-hidden="true" class="icon-info"></span>
        </a>
      </figcaption>
    </figure>
    <figure class="gallery-item workplace office">
      <%= image_tag 'gallery/10.png', alt: 'gallery' %>
      <figcaption>
        <%= link_to(image_url('gallery/10.png'), class: 'fancybox') do %>
          <span aria-hidden="true" class="icon-plus"></span>
        <% end %>
        <a href="#fakelink">
          <span aria-hidden="true" class="icon-info"></span>
        </a>
      </figcaption>
    </figure>
    <figure class="gallery-item workplace office">
      <%= image_tag 'gallery/11.png', alt: 'gallery' %>
      <figcaption>
        <%= link_to(image_url('gallery/11.png'), class: 'fancybox') do %>
          <span aria-hidden="true" class="icon-plus"></span>
        <% end %>
        <a href="#fakelink">
          <span aria-hidden="true" class="icon-info"></span>
        </a>
      </figcaption>
    </figure>
    <figure class="gallery-item workplace team">
      <%= image_tag 'gallery/12.png', alt: 'gallery' %>
      <figcaption>
        <%= link_to(image_url('gallery/12.png'), class: 'fancybox') do %>
          <span aria-hidden="true" class="icon-plus"></span>
        <% end %>
        <a href="#fakelink">
          <span aria-hidden="true" class="icon-info"></span>
        </a>
      </figcaption>
    </figure>
    <figure class="gallery-item workplace">
      <%= image_tag 'gallery/13.png', alt: 'gallery' %>
      <figcaption>
        <%= link_to(image_url('gallery/13.png'), class: 'fancybox') do %>
          <span aria-hidden="true" class="icon-plus"></span>
        <% end %>
        <a href="#fakelink">
          <span aria-hidden="true" class="icon-info"></span>
        </a>
      </figcaption>
    </figure>
    <figure class="gallery-item office">
      <%= image_tag 'gallery/14.png', alt: 'gallery' %>
      <figcaption>
        <%= link_to(image_url('gallery/14.png'), class: 'fancybox') do %>
          <span aria-hidden="true" class="icon-plus"></span>
        <% end %>
        <a href="#fakelink">
          <span aria-hidden="true" class="icon-info"></span>
        </a>
      </figcaption>
    </figure>
    <figure class="gallery-item office">
      <%= image_tag 'gallery/15.png', alt: 'gallery' %>
      <figcaption>
        <%= link_to(image_url('gallery/15.png'), class: 'fancybox') do %>
          <span aria-hidden="true" class="icon-plus"></span>
        <% end %>
        <a href="#fakelink">
          <span aria-hidden="true" class="icon-info"></span>
        </a>
      </figcaption>
    </figure>
    <figure class="gallery-item wide workplace double">
      <%= image_tag 'gallery/16.png', alt: 'gallery' %>
      <figcaption>
        <%= link_to(image_url('gallery/16.png'), class: 'fancybox') do %>
          <span aria-hidden="true" class="icon-plus"></span>
        <% end %>
        <a href="#fakelink">
          <span aria-hidden="true" class="icon-info"></span>
        </a>
      </figcaption>
    </figure>
    <figure class="gallery-item workplace team">
      <%= image_tag 'gallery/18.png', alt: 'gallery' %>
      <figcaption>
        <%= link_to(image_url('gallery/18.png'), class: 'fancybox') do %>
          <span aria-hidden="true" class="icon-plus"></span>
        <% end %>
        <a href="#fakelink">
          <span aria-hidden="true" class="icon-info"></span>
        </a>
      </figcaption>
    </figure>
    <figure class="gallery-item team office">
      <%= image_tag 'gallery/19.png', alt: 'gallery' %>
      <figcaption>
        <%= link_to(image_url('gallery/19.png'), class: 'fancybox') do %>
          <span aria-hidden="true" class="icon-plus"></span>
        <% end %>
        <a href="#fakelink">
          <span aria-hidden="true" class="icon-info"></span>
        </a>
      </figcaption>
    </figure>
    <figure class="gallery-item workplace">
      <%= image_tag 'gallery/20.png', alt: 'gallery' %>
      <figcaption>
        <%= link_to(image_url('gallery/20.png'), class: 'fancybox') do %>
          <span aria-hidden="true" class="icon-plus"></span>
        <% end %>
        <a href="#fakelink">
          <span aria-hidden="true" class="icon-info"></span>
        </a>
      </figcaption>
    </figure>
  </div>
</section>
