<section class="wrap-technical" id="technical">
  <div class="top-block-icon">
    <i class="icon-graph"></i>
  </div>
  <div class="container">
    <div class="row top-block-text wow fadeInUp" data-wow-duration="2s">
      <div class="col-md-offset-1 col-md-10 col-sm-12 text-center">
        <h3>Some numbers</h3>
        <p class="large">Our average attendance sits at 80+ per event, with an exception of THUD Jozi which sees 250+ entrepreneurs monthly. In the cities in which we have launched THUD for the first time we saw a minimum of 100 - 150 entrepreneurs attend.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 wrap-texts">
        <div class="row item wow fadeInUp" data-wow-duration="2s">
          <div class="col-md-2">
            <%= image_tag 'icon-globe.png', alt: 'icon' %>
          </div>
          <div class="col-md-10">
            <div class="title"><span style="font-size: 2em;">5</span> Countries
            </div>
          </div>
        </div>
        <div class="row item wow fadeInUp" data-wow-duration="2s">
          <div class="col-md-2">
            <%= image_tag 'icon-buildings.png', alt: 'icon' %>
          </div>
          <div class="col-md-10">
            <div class="title"><span style="font-size: 2em;">12</span> Cities
            </div>
          </div>
        </div>
        <div class="row item wow fadeInUp" data-wow-duration="2s">
          <div class="col-md-2">
            <%= image_tag 'icon-events.png', alt: 'icon' %>
          </div>
          <div class="col-md-10">
            <div class="title"><span style="font-size: 2em;">51+</span> Cities
            </div>
          </div>
        </div>
        <div class="row item wow fadeInUp" data-wow-duration="2s">
          <div class="col-md-2">
            <%= image_tag 'icon-pitches.png', alt: 'icon' %>
          </div>
          <div class="col-md-10">
            <div class="title"><span style="font-size: 2em;">255+</span> Pitches
            </div>
          </div>
        </div>
        <div class="row item wow fadeInUp" data-wow-duration="2s">
          <div class="col-md-2">
            <%= image_tag 'icon-invest.png', alt: 'icon' %>
          </div>
          <div class="col-md-10">
            <div class="title"><span style="font-size: 2em;">R 174 000</span> Invested
            </div>
          </div>
        </div>
        <div class="row item wow fadeInUp" data-wow-duration="2s">
          <div class="col-md-2">
            <%= image_tag 'icon-attendees.png', alt: 'icon' %>
          </div>
          <div class="col-md-10">
            <div class="title"><span style="font-size: 2em;">5940</span> Attendees
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8 map-column wow fadeInUp" data-wow-duration="2s">
        <div class="wrap-map-item">
          <div class="map-marker marker-1" data-popover-content="#marker-1"></div>
          <div class="map-marker marker-2" data-popover-content="#marker-2"></div>
          <div class="map-marker marker-3" data-popover-content="#marker-3"></div>
          <div class="map-marker marker-4" data-popover-content="#marker-4"></div>
          <div class="map-marker marker-5" data-popover-content="#marker-5"></div>
          <%= image_tag 'map2.png', class: 'img-responsive' %>
        </div>
        <div class="hidden" id="marker-1">
          <div class="popover-body clearfix">
            <div class="map-popover clearfix">
              <div class="title">South Africa</div>
              <div class="count">4</div>
              <div class="text"><strong>Chapters</strong> - Johannesburg, Pretoria, Durban, Cape Town</div>
            </div>
          </div>
        </div>
        <div class="hidden" id="marker-2">
          <div class="popover-body clearfix">
            <div class="map-popover clearfix">
              <div class="title">Botswana</div>
              <div class="count">12</div>
              <div class="text">Pitches</div>
            </div>
          </div>
        </div>
        <div class="hidden" id="marker-3">
          <div class="popover-body clearfix">
            <div class="map-popover clearfix">
              <div class="title">Zimbabwe</div>
              <div class="count">10k</div>
              <div class="text">Entrepreneurs</div>
            </div>
          </div>
        </div>
        <div class="hidden" id="marker-4">
          <div class="popover-body clearfix">
            <div class="map-popover clearfix">
              <div class="title">Ghana</div>
              <div class="count">67</div>
              <div class="text">Pitches</div>
            </div>
          </div>
        </div>
        <div class="hidden" id="marker-5">
          <div class="popover-body clearfix">
            <div class="map-popover clearfix">
              <div class="title">Kenya</div>
              <div class="count">1M</div>
              <div class="text">Startups</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
