<!-- BEGIN PAGE TOP -->
<div class="page-top">
  <!-- BEGIN HEADER SEARCH BOX -->
  <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
  <form class="search-form" action="extra_search.html" method="GET">
    <div class="input-group">
      <input type="text" class="form-control input-sm" placeholder="Search..." name="query">
      <span class="input-group-btn">
      <a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
      </span>
    </div>
  </form>
  <!-- END HEADER SEARCH BOX -->
  <!-- BEGIN TOP NAVIGATION MENU -->
  <div class="top-menu">
    <ul class="nav navbar-nav pull-right">
      <li class="separator hide">
      </li>
      <!-- BEGIN NOTIFICATION DROPDOWN -->
      <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
      <li class="dropdown dropdown-extended dropdown-notification dropdown-dark" id="header_notification_bar">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        <i class="icon-bell"></i>
        <span class="badge badge-success">
        4 </span>
        </a>
        <ul class="dropdown-menu">
          <li class="external">
            <h3><span class="bold">12 pending</span> notifications</h3>
            <a href="extra_profile.html">view all</a>
          </li>
          <li>
            <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
              <li>
                <a href="javascript:;">
                <span class="time">just now</span>
                <span class="details">
                <span class="label label-sm label-icon label-success">
                <i class="fa fa-plus"></i>
                </span>
                Thabo added you to a new project. </span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                <span class="time">3 mins</span>
                <span class="details">
                <span class="label label-sm label-icon label-danger">
                <i class="fa fa-bolt"></i>
                </span>
                New notification. </span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                <span class="time">10 mins</span>
                <span class="details">
                <span class="label label-sm label-icon label-warning">
                <i class="fa fa-bell-o"></i>
                </span>
                Another notification. </span>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                <span class="time">10 mins</span>
                <span class="details">
                <span class="label label-sm label-icon label-warning">
                <i class="fa fa-bell-o"></i>
                </span>
                And another one. </span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <!-- END NOTIFICATION DROPDOWN -->
      <li class="separator hide"></li>
      <!-- BEGIN INBOX DROPDOWN -->
      <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
      <li class="dropdown dropdown-extended dropdown-inbox dropdown-dark" id="header_inbox_bar">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        <i class="icon-envelope-open"></i>
        <span class="badge badge-danger">
        4 </span>
        </a>
        <ul class="dropdown-menu">
          <li class="external">
            <h3>You have <span class="bold">7 New</span> Messages</h3>
            <a href="#">view all</a>
          </li>
          <li>
            <ul class="dropdown-menu-list scroller" style="height: 275px;" data-handle-color="#637283">
              <li>
                <a href="#?a=view">
                <span class="photo">
                <img src="//lorempixel.com/80/80/people/7" class="img-circle" alt="">
                </span>
                <span class="subject">
                <span class="from">
                Lebo </span>
                <span class="time">Just Now </span>
                </span>
                <span class="message">
                Vivamus sed auctor nibh congue nibh. auctor nibh auctor nibh... </span>
                </a>
              </li>
              <li>
                <a href="#?a=view">
                <span class="photo">
                <img src="//lorempixel.com/80/80/people/6" class="img-circle" alt="">
                </span>
                <span class="subject">
                <span class="from">
                Bernard </span>
                <span class="time">16 mins </span>
                </span>
                <span class="message">
                Vivamus sed congue nibh auctor nibh congue nibh. auctor nibh auctor nibh... </span>
                </a>
              </li>
              <li>
                <a href="#?a=view">
                <span class="photo">
                <img src="//lorempixel.com/80/80/people/5" class="img-circle" alt="">
                </span>
                <span class="subject">
                <span class="from">
                Nolo </span>
                <span class="time">2 hrs </span>
                </span>
                <span class="message">
                Vivamus sed nibh auctor nibh congue nibh. auctor nibh auctor nibh... </span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <!-- END INBOX DROPDOWN -->
      <li class="separator hide">
      </li>

      <!-- BEGIN USER LOGIN DROPDOWN -->
      <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
      <li class="dropdown dropdown-user dropdown-dark">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        <span class="username username-hide-on-mobile">
        <%= @current_user.first_name %> </span>
        <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
        <%= gravatar_for @current_user, class: 'img-circle' %>
        </a>
        <ul class="dropdown-menu dropdown-menu-default">
          <li>
            <%= link_to(profile_path('me')) do %>
              <i class="icon-user"></i> My Profile
            <% end %>
          </li>
          <li>
            <%= link_to('#') do %>
              <i class="icon-calendar"></i> My Calendar
            <% end %>
          </li>
          <li>
            <%= link_to('#') do %>
              <i class="icon-envelope-open"></i> My Inbox <span class="badge badge-danger">
              3 </span>
            <% end %>
          </li>
          <li class="divider">
          </li>
          <li>
            <%= link_to('#') do %>
              <i class="icon-lock"></i> Lock Screen
            <% end %>
          </li>
          <li>
            <%= link_to(destroy_user_session_path) do %>
              <i class="icon-key"></i> Log Out
            <% end %>
          </li>
        </ul>
      </li>
      <!-- END USER LOGIN DROPDOWN -->
    </ul>
  </div>
  <!-- END TOP NAVIGATION MENU -->
</div>
<!-- END PAGE TOP -->
