<!DOCTYPE html>
<html>
<head>
  <%= render "shared/admin/head" %>
  <%= csrf_meta_tags %>
</head>
<body class="page-md page-header-fixed page-sidebar-closed page-sidebar-closed-hide-logo">
  <%= render "shared/admin/flashes" -%>
  <%= yield %>
  <%= render "javascript" %>
</body>
</html>
