<div class="container-fuild" style="height: 100%;">
  <div id="sign-up" class="col-md-offset-2 col-md-4" >
    <h2 style="margin-top: 1.5em;">Sign up</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :first_name, required: true, autofocus: true %>
        <%= f.input :last_name, required: true %>
        <%= f.input :city, required: true %>
        <%= f.select :member_type, User::MEMBER_TYPES, label: 'Member type'%>
        <%= f.input :email, required: true %>
        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
        <%= f.input :password_confirmation, required: true %>
        <%= f.input :t_and_cs, as: :boolean, label: 'Accept Terms and Conditions' %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up", class: 'btn-primary' %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
  <div class="sidebar-signup">
    <div class="row">
      <div class="container">
        <h4>Have a google account?</h4>
        <a href="#" class="btn btn-primary">Sign up with Google</a>
      </div>
    </div>
  </div>
</div>
